<?php
/**
 * @file
 * Wodby environment configuration for generic PHP project.
 */

{{ if getenv "WODBY_HOSTS" }}{{ range jsonArray (getenv "WODBY_HOSTS") }}
$deploy['hosts'][] = '{{ . }}';
{{ end }}{{ end }}

$deploy['files_dir'] = '{{ getenv "FILES_DIR" }}';

$deploy['db']['host'] = '{{ getenv "DB_HOST" }}';
$deploy['db']['name'] = '{{ getenv "DB_NAME" }}';
$deploy['db']['username'] = '{{ getenv "DB_USER" }}';
$deploy['db']['password'] = '{{ getenv "DB_PASSWORD" }}';
$deploy['db']['driver'] = '{{ getenv "DB_DRIVER" }}';

$deploy['redis']['host'] = '{{ getenv "REDIS_HOST" }}';
$deploy['redis']['port'] = '{{ getenv "REDIS_PORT" "6379" }}';
$deploy['redis']['password'] = '{{ getenv "REDIS_PASSWORD" }}';

$deploy['varnish']['host'] = '{{ getenv "VARNISH_HOST" }}';
$deploy['varnish']['terminal_port'] = '{{ getenv "VARNISH_TERMINAL_PORT" "6082" }}';
$deploy['varnish']['secret'] = '{{ getenv "VARNISH_SECRET" }}';
$deploy['varnish']['version'] = '{{ getenv "VARNISH_VERSION" }}';

$deploy['memcached']['host'] = '{{ getenv "MEMCACHED_HOST" }}';
$deploy['memcached']['port'] = '{{ getenv "MEMCACHED_PORT" "11211" }}';
